XSD/dsgmn.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="dsgmn"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:msg="http://www.broservices.nl/xsd/dsgmn/1.0"
                  xmlns:tns="http://www.broservices.nl/wsdl/dsgmn/1.0"
                  targetNamespace="http://www.broservices.nl/wsdl/dsgmn/1.0">

    <wsdl:documentation>
        This WSDL defines the webservice for the GMN intake webservice (GroundwaterMonitoringNet)
        in the context of the base registry subsurface (Basisregistratie Ondergrond).
        This is version 1.0.0
        Changes compared to Version 1.0.0:
        - added soap header for delivery responsible party
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:tns="http://www.broservices.nl/wsdl/dsgmn/1.0" targetNamespace="http://www.broservices.nl/wsdl/dsgmn/1.0">
            <xsd:import namespace="http://www.broservices.nl/xsd/dsgmn/1.0" schemaLocation="https://schema.broservices.nl/xsd/dsgmn/1.0/dsgmn-messages.xsd"/>
            <xsd:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="dispatchDataRequest">
        <wsdl:part element="msg:dispatchDataRequest" name="request"/>
    </wsdl:message>

    <wsdl:message name="dispatchDataResponse">
        <wsdl:part element="msg:dispatchDataResponse" name="response"/>
    </wsdl:message>

    <wsdl:message name="parseSoapFault">
        <wsdl:part element="msg:parseFault" name="parseFault"/>
    </wsdl:message>

    <wsdl:message name="DeliveryResponsiblePartyHeader">
        <wsdl:part name="deliveryResponsibleParty" element="brocom:deliveryResponsibleParty" />
    </wsdl:message>

    <wsdl:portType name="dsgmn">
        <wsdl:operation name="dispatchData">
            <wsdl:input message="tns:dispatchDataRequest" wsam:Action="http://www.broservices.nl/wus/dsgmn/dispatchDataRequest"/>
            <wsdl:output message="tns:dispatchDataResponse" wsam:Action="http://www.broservices.nl/wus/dsgmn/dispatchDataResponse"/>
            <wsdl:fault message="tns:parseSoapFault" name="parsefault" wsam:Action="http://www.broservices.nl/wus/dsgmn/parseSoapFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="dsgmn_SOAP" type="tns:dsgmn">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="dispatchData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="parsefault">
                <soap:fault use="literal" name="parsefault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="dsgmn">
        <wsdl:port name="dsgmn_SOAP" binding="tns:dsgmn_SOAP">
            <soap:address location="RgmnACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
